<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="NAME" value="qs-mongo" />
	<contextName>${NAME}</contextName>
	<property name="LOG_HOME" value="/data/logs/${NAME}" />

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/day.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/day_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/other.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
  
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>
</configuration>